.header {
    background: var(--header-bg);
    color: var(--text-color-dark);
    padding: 1.5rem 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__controls {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.logo img {
    height: 35px;
}

.nav__link:hover,
.nav__link:focus {
    color: var(--primary-color);
}

.nav__link:hover {
    color: var(--primary-color);
}

.theme-switcher:focus {
    outline: none;
}